apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: model-monitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: model-api
  endpoints:
  - port: http
    interval: 30s
